## General
COMPOSE_PROJECT_NAME=MeliCoupon

## db
MYSQL_USER:wgsytmmqubsnja
MYSQL_ROOT_PASSWORD:5bee3ffc7ab4b4eb069a0a84a8a06bf2eec132806f75664942ed888dd9dd53f7
MYSQL_PASSWORD:5bee3ffc7ab4b4eb069a0a84a8a06bf2eec132806f75664942ed888dd9dd53f7
MYSQL_DATABASE:dem9knka5gm9ba
MYSQL_SSLMODE:require
MYSQL_ALLOW_EMPTY_PASSWORD:
MYSQL_RANDOM_ROOT_PASSWORD:
DB_PORT=5432
DB_HOST=ec2-34-200-205-45.compute-1.amazonaws.com

## server
SERVER_PORT=3000
SERVER_HOST=0.0.0.0
SERVER_PROTOCOL=http://

#redis
REDIS_URL:redis:6379

## MELI
#API REST MELI
MELI_API_URL=https://api.mercadolibre.com/items/